.item-container  {
  display: flex;
  margin-left: 0px;
}
.todo-ul {
  padding: 0px;
}
.delete-button {
  margin-left: 10px;
}
.todolist-title {
  text-align: center;
}
.todolist-container {
  flex: 1;
  margin: 20px;
  padding: 20px;
}